@page "/"
@layout Layout.MainLayoutEmpty



<div class="keret">

    <h3>Kezdőlap</h3>
    <div  class="gomb"> <a href="/home" class="btn btn-success">Bejelentkezés</a>
    </div>
</div>




@code {

}
