@page "/todo"
@rendermode InteractiveServer


<h3>Todo - El kell készíteni: @todos.Count(x=>!x.IsDone) darab feladatot</h3>



<div id="bevitel">
    <input @bind="newTodo" />
    <button id="ad" @onclick="AddTodo">Hozzáadás</button>
</div>

<p id="kiirat" >Elvégzett feladat: @todos.Count(x=>x.IsDone) darab</p>


<ul id="todo">
    @foreach (var item in todos)
    {
        <li id="sor">
            @*<input @bind="item.Title"/>*@
            <input type="checkbox" @bind="item.IsDone"/>
            @item.Title

        </li>
    }
</ul>


@code {
    private List<TodoItem> todos = new();

    string newTodo = "";


    private void AddTodo()

    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
