div{
    background-color:aqua;
}
h3{
    font-size:large;
    font-weight:bold;
    text-decoration-line:underline;
}
#szoveg{
    background-color:lightgrey;
    font-family:Arial;
    color:red;
}

