@page "/uj"

<h3>Új menü</h3>
<p> Ha a gombra kattintasz, akkor a classroomba visz :) </p>

<a href="https://classroom.google.com/c/NjU4MTg3NzE0NDI2" class="btn-info" target="_blank" >Classroom</a>
<br />
<br />
<div>Lorem20 - na ez nem működik, pedig jó lett volna egy kis szöveg még pluszban</div>
<br />
<br/>


<Counter UjMenuCounter="10" />

@code {

}
